/* custom CSS that only applies to BooksPage.razor component */
h3 {
    margin-top: 0.5rem;
    background-color: cornflowerblue;
}

p {
    background-color: mediumpurple;
}

.book-header {
    padding: 0.5rem 0;
    border-bottom: 1px solid #e5e7eb;
}