@* 1. Blazor metadata, imports, & URL routing *@
@using Books.Components.Layout
@layout BookLayout
@page "/books"

@* 2. main body contents *@
<div class="book-header">
    <h3>My Books</h3>
</div>

<p>This is my first book!</p>
