<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Books</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books/form">
                <span class="bi" aria-hidden="true"></span> Books
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books/form-with-validation">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Books w/ Validation
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books">
                <span class="bi" aria-hidden="true"></span> Book List
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books/form-with-homebrew-validation">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Books w/ Homebrew Validation
            </NavLink>
        </div>
    </nav>
</div>
