@* 1. indicate this component as a webpage, and specify its URL route*@
@page "/"

@* 2. browser/page metadata*@
<PageTitle>Home</PageTitle>

@* 3. body contents / HTML; this can use HTML, inline code, or Razor templating syntax*@
<h1>Hello, world!</h1>

Welcome to your new app.
